[run]
branch = True
omit =
    nnviz/cli/*

[report]
exclude_lines =
    pass
    def __str__
    def __repr__
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod
    @(abc\.)?abstractclassmethod